manifest.md
manifest-2.md
diff.md
make-diff.sh
scripts/CDP_API_KEY

# Node
node_modules/
**/node_modules/
.pnpm-store/
*pnpm-lock.yaml

# Builds / Artifacts
**/dist/
**/build/
**/out/
**/artifacts/

# TypeScript
**/*.tsbuildinfo

# Env / Secrets
.env
.env.*
!.env.sample
scripts/runner.conf

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# Foundry
cache/
out/
**/cache/
**/out/
# Hardhat
**/cache/
**/artifacts/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Foundry broadcast artifacts
packages/foundry/broadcast/
